body {
    font-family: NotoSansRegular;
    background-color: #8A735CCF;
}

/*----Font------*/

/* @font-face {
    font-family: NotoSansRegular;
    src: url(../font/NotoSans-Regular.ttf);
    font-weight: regular;
}

@font-face {
    font-family: NotoSansBold;
    src: url(../font/NotoSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: NotoSansItalic;
    src: url(../font/NotoSans-Italic.ttf);
    font-weight: italic;
}

@font-face {
    font-family: NotoSansBoldItalic;
    src: url(../font/NotoSans-BoldItalic.ttf);
    font-weight: boldIitalic;
}
@font-face {
    font-family: DancingRegular;
    src: url(../font/DancingScript-Regular.ttf);
    font-weight: regular;
}
@font-face {
    font-family: DancingSemiBold;
    src: url(../font/DancingScript-SemiBold.ttf);
   
}
@font-face {
    font-family: DancingBold;
    src: url(../font/DancingScript-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: DancingMedium;
    src: url(../font/DancingScript-Medium.ttf);
    
} */

/*------------------Top--------------------*/

.topRow {
    background-color: #8A735CCF;
    padding: 1%;
}

.phoneIcon {
    color: rgba(255, 255, 255, 0.836);
    padding-left: 4%;
}

.phoneText {
    color: rgba(255, 255, 255, 0.836);
    font-size: 14px;
    display: inline;
    padding: 0.4%;
}

.locationIcon {
    color: rgba(255, 255, 255, 0.836);
    padding: 0.3%;
}

.mapText {
    color: rgba(255, 255, 255, 0.836);
    display: inline;
}

.topText {
    display: inline;
    padding-left: 20%;
    color: rgba(255, 255, 255, 0.822);
    font-weight: bold;
    font-size: 15px;
}

.yelpImg {
    color: rgba(255, 255, 255, 0.836);
    padding-left: 20%;
}

.fbImg {
    color: rgba(255, 255, 255, 0.836);
    padding-left: 1%;
}

.igImg {
    color: rgba(255, 255, 255, 0.836);
    padding-left: 1%;
}

.email {
    color: rgba(255, 255, 255, 0.836);
    padding-left: 1%;
}

/*-----Middle Navigation------*/

.middleNav, .copyRight {
    background-color: #cabcae5b;
}

.storeLogoText {
    color: #513928;
    font-weight: bolder;
    font-family: 'Noto Sans', sans-serif;
    font-size: 37px;
}

.navbar-text {
    color: #513928;
    padding-right: 10px;
    display: inline;
    font-weight: bolder;
    font-family: 'Noto Sans', sans-serif;
}

a:link {
    text-decoration: none;
}

/* mouse over link */

a:hover {
    color: rgb(223, 166, 62);
    font-weight: bolder;
}

/*---------Image--------*/

.view {
    background-image: url(../image/HeroImage.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
}

.heartLogo {
    color: white;
    font-size: 100px;
  
    
}

.subtext-header {
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 60px;
    text-shadow: 4px 7px 4px black;
    animation-name: slide;
    animation-duration: 2s;
  
}
@keyframes slide{
    0%{
        transform: translateX(-1000px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.placeOrderBtn {
    color: white;
    border-color: white;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    text-shadow: 2px 5px 2px black;
    animation-name: slide;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-fill-mode: backwards;
}
.btn{
    color: white;
    font-weight: bold;
    border: 2px sold #634832;
    font-size: 25px;
}
/* .placeOrderBtn:hover {
    font-weight: bolder;
    background-color: rgb(223, 166, 62);
} */
.hvr-right{
    display: inline-block;
    vertical-align: middle;
    transition-duration: 0.05s;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(223, 166, 62);
    position: relative;
    transition-property: color;
}
.hvr-right:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(223, 166, 62);
    transition-timing-function: ease-out;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.5s;
}
.hvr-right:hover, .hvr-right:focus, 
.hvr-right:active{
    color:white;
}
.hvr-right:hover:before, .hvr-right:focus:before, 
.hvr-right:active:before{
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transform: scaleX(1);
}

/*--------copyRight---------*/

.copyRight {
    color: #513928;
    font-family: 'Noto Sans', sans-serif;
}

