body {
    background-color: #8A735CCF;
}

@media only screen and (max-width: 6000px) {
    #menuArea::after {
        content:'';
        background: url("../images/SANDWICH\ SALAD.jpg") no-repeat center center;
        
        position: absolute;
        top: 0px;
        left: 0px;
    
        background-size: 100% 100%;
        background-size: cover;
        object-fit: cover;
        
        /* Standard is height of 1646px */
        width:100%;
        height:1646px;
    
        /*At 1105 px height; increase the img height to 1670px  */
        /*At 991 px height img goes to tablet, increase height to 3027px  */
    
        z-index:-1;
        opacity:50%;
    }

    #secCont {
        padding: 0px 150px 0px 150px;
      }
    .carousel-inner{
        padding: 0px 100px 0px 100px;
    }
}

@media only screen and (max-width: 1105px){
    #menuArea::after {
        content:'';
        background: url("../images/SANDWICH\ SALAD.jpg") no-repeat center center;
        
        position: absolute;
        top: 0px;
        left: 0px;
    
        background-size: 100% 100%;
        background-size: cover;
        object-fit: cover;
        
        width:100%;
        height:1670px;
    
        z-index:-1;
        opacity:50%;
    }
}

@media only screen and (max-width: 991px){
    #menuArea::after {
        content:'';
        background: url("../images/SANDWICH\ SALAD.jpg") no-repeat center center;
        
        position: absolute;
        top: 0px;
        left: 0px;
    
        background-size: 100% 100%;
        object-fit: cover;
        
        width:100%;
        height:3027px;
    
        z-index:-1;
        opacity:50%;
    }
    .putCenter{
        display: flex !important;
        justify-content: center !important;
    }
}

@media only screen and (max-width: 767px){
    #menuArea::after {
        content:'';
        background: url("../images/SANDWICH\ SALAD.jpg") no-repeat center center;
        
        position: absolute;
        top: 0px;
        left: 0px;
    
        background-size: 100% 100%;
        object-fit: cover;
        
        width:100%;
        height:3075px;
    
        z-index:-1;
        opacity:50%;
    }
}

@media only screen and (max-width: 616px){
    #menuArea::after {
        content:'';
        background: url("../images/SANDWICH\ SALAD.jpg") no-repeat center center;
        
        position: absolute;
        top: 0px;
        left: 0px;
    
        background-size: 100% 100%;
        object-fit: cover;
        
        width:100%;
        height:3099px;
    
        z-index:-1;
        opacity:50%;
    }
}

@media only screen and (max-width: 567px){
    #menuArea::after {
        content:'';
        background: url("../images/SANDWICH\ SALAD.jpg") no-repeat center center;
        
        position: absolute;
        top: 0px;
        left: 0px;
    
        background-size: 100% 100%;
        object-fit: cover;

        width:100%;
        height:3123px;
    
        z-index:-1;
        opacity:50%;
    }
}
@media only screen and (max-width: 536px){
    #menuArea::after {
        content:'';
        background: url("../images/SANDWICH\ SALAD.jpg") no-repeat center center;
        
        position: absolute;
        top: 0px;
        left: 0px;
    
        background-size: 1200px 100%;
        object-fit: cover;
        
        width:100%;
        height:3450px;
    
        z-index:-1;
        opacity:50%;
    }
}
@media only screen and (max-width: 464px){
    #menuArea::after {
        content:'';
        background: url("../images/SANDWICH\ SALAD.jpg") no-repeat center center;
        
        position: absolute;
        top: 0px;
        left: 0px;
    
        background-size: 900px 100%;
        object-fit: cover;
        
        width:100%;
        height:4500px;
    
        z-index:-1;
        opacity:50%;
    }
}

@media only screen and (max-width: 334px){
    #menuArea::after {
        content:'';
        background: url("../images/SANDWICH\ SALAD.jpg") no-repeat center center;
        
        position: absolute;
        top: 0px;
        left: 0px;
    
        background-size: 900px 100%;
        object-fit: cover;
    
        width:100%;
        height:5217px;
    
        z-index:-1;
        opacity:50%;
    }
}

@media only screen and (max-width: 545px) {
    #secCont {
      padding: 0px 0px 0px 0px;
    }

    .moreCentered{
        display: flex !important;
        justify-content: center !important;
    }
}

@media only screen and (max-width: 575px){
    .carousel-inner{
        padding: 0px 0px 0px 0px;
    }
}


.phoneText {
    color: rgba(255, 255, 255, 0.836);
    font-size: 14px;
    display: inline;
    padding: 
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    overflow: hidden;
}


.list-group-item {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.card {
    border: none;
}


.topText {
    display: inline;
    padding-left: 20%;
    color: rgba(255, 255, 255, 0.822);
    font-weight: bold;
    font-size: 15px;
}

h2 {
    color: white;
    font-size: 40px;
    text-shadow: 2px 5px 1px black;

}

h3 {
    color: white;
    text-shadow: 2px 5px 1px black;
    /* font-size: 22px;  use media for 425px*/
}

p {
    color: white;
    text-shadow: 2px 3px 2px black;
}

/* 425px change font position for the menus */

.userCom{
    font-size: 30px;
    color: #513928;
    text-shadow: none;
}

.comPlaced{
    color: #513928;
    text-shadow: none;
    font-size: 20px;
}


/*---------------------------------------------------------------------
/*-----Middle Navigation------*/

#leftSide {
    background-color: rgba(255, 255, 255, 0);
}


#rightSide {
    background-color: rgba(255, 255, 255, 0);
}

.learnText{
    color: #513928;
    text-shadow: none;
    font-size: 25px;
}

.goldColor {
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    color: #996E0B;
    text-shadow: none;
}


.brownColor{
    color: #513928;
    text-shadow: none;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
}

.bgWhite{
    background-color: white;
}

#coffeeBean{
    transform: scaleX(-1) rotate(180deg);
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}


/*--------------------------------------------------------------------

/*---------Image--------*/

.aboutImgs{
    width: 300px; 
    height: 270px; 
    object-fit: cover;
    transition:         transform .8s ease-in-out;
}
.aboutImgs:hover{
    width: 300px; 
    height: 270px; 
    object-fit: cover;
    transform: rotate(360deg);
}


.modalImg{
    width: 600px; 
    height: 600px; 
    object-fit: cover;
}


.heartLogo {
    color: white;
    font-size: 100px;
}

.subtext-header {
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 60px;
    text-shadow: 4px 7px 4px black;
    animation-name: slide;
    animation-duration: 2s;
}

@keyframes slide {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }

.modalSide{
    width: 700px; 
    height: 350px; 
    
}

.expTop{
    width: 400px; 
    height: 350px;
    object-fit: cover;
}

.expMid{
    width: 270px;
    height: 350px;
    object-fit: cover;
}


.btn {
    color: white;
    font-weight: bold;
    border: 2px sold #634832;
    font-size: 25px;
}

/* .placeOrderBtn:hover {
    font-weight: bolder;
    background-color: rgb(223, 166, 62);
} */

.hvr-right {
    display: inline-block;
    vertical-align: middle;
    transition-duration: 0.05s;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(223, 166, 62);
    position: relative;
    transition-property: color;
}

.hvr-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(223, 167, 62, 0.5);
    transition-timing-function: ease-out;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.5s;
}

.hvr-right:hover, .hvr-right:focus, .hvr-right:active {
    color: white;
}

.hvr-right:hover:before, .hvr-right:focus:before, .hvr-right:active:before {
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transform: scaleX(1);
}

/*------------------------------------------------------------
/*-----------Bottom Information-------------------------------*/

.bottomInfo{
    background-color: white;
    height: 400px;
    width: 900px;
    /* font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    color: #af8013;
    text-align: center;
    text-shadow: 0px 1px 0px black; */
}
.card-cody{
    border-style: none;
    text-align: center;
  
}
.card-title{
    color: #996E0B;
    font-weight: bold;
    text-align: center;
    
}
.card-text{
    color: #513928;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}
.card-businessText{
    color: #513928;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    
}

.direction{
    background-color:#513928;
    color: #EFAD14;
    font-size: 20px;
}



/*--------copyRight---------*/

.copyRight {
    color: #513928;
    font-family: 'Noto Sans', sans-serif;
    text-shadow: 5px 5px 5px #51392831;
=======
.exp2Bot{
    width: 410px; 
    height: 217px; 
    object-fit: cover;
}

.exp1Bot{
    width: 550px; 
    height: 217px; 
    object-fit: cover;
}