body {
    background-color: #8A735CCF;
    
}

/* #menuArea{
    background-image: url("./images/SANDWICH\ SALAD.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

} */


#menuArea::after {
    content:'';
    background: url("../images/SANDWICH\ SALAD.jpg") no-repeat center center;

    
    position: absolute;
    top: 0px;
    left: 0px;

    background-size: 100% 100%;
    background-size: cover;
    object-fit: cover;
    
    /* Standard is height of 1646px */
    width:100%;
    height:1646px;

    /*At 1105 px height; increase the img height to 1670px  */
    /*At 991 px height img goes to tablet, increase height to 3027px  */

    /* In below the 991px picture is pull too much barely visable */

    z-index:-1;
    opacity:50%;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    overflow: hidden;
}


.list-group-item {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.card {
    border: none;
}

h2 {
    color: white;
    font-size: 40px;
    text-shadow: 2px 5px 1px black;
}

h3 {
    color: white;
    text-shadow: 2px 5px 1px black;
    /* font-size: 22px;  use media for 425px*/
}

p {
    color: white;
    text-shadow: 2px 3px 2px black;
}

/* 425px change font position for the menus */

.userCom{
    font-size: 30px;
    color: #513928;
    text-shadow: none;
}

.comPlaced{
    color: #513928;
    text-shadow: none;
    font-size: 20px;
}

#leftSide {
    background-color: rgba(255, 255, 255, 0);
}

#rightSide {
    background-color: rgba(255, 255, 255, 0);
}

.learnText{
    color: #513928;
    text-shadow: none;
    font-size: 25px;
}

.goldColor {
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    color: #996E0B;
    text-shadow: none;
}

@media only screen and (max-width: 6000px) {
    #secCont {
      padding: 0px 150px 0px 150px;
    }
    .carousel-inner{
        padding: 0px 100px 0px 100px;
    }
}

@media only screen and (max-width: 545px) {
    #secCont {
      padding: 0px 0px 0px 0px;
    }

    .moreCentered{
        display: flex !important;
        justify-content: center !important;
    }
    /* .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    } */
}

@media only screen and (max-width: 575px){
    .carousel-inner{
        padding: 0px 0px 0px 0px;
    }
}

@media only screen and (max-width: 991px){
    .putCenter{
        display: flex !important;
        justify-content: center !important;
    }
}

.brownColor{
    color: #513928;
    text-shadow: none;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
}

.bgWhite{
    background-color: white;
}

#coffeeBean{
    transform: scaleX(-1) rotate(180deg);
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}

.aboutImgs{
    width: 300px; /* width of container */
    height: 270px; /* height of container */
    object-fit: cover;
}

.modalImg{
    width: 600px; /* width of container */
    height: 600px; /* height of container */
    object-fit: cover;
}

.modalSide{
    width: 700px; /* width of container */
    height: 350px; /* height of container */
    
}

.expTop{
    width: 400px; /* width of container */
    height: 350px; /* height of container */
    object-fit: cover;
}

.expMid{
    width: 270px; /* width of container */
    height: 350px; /* height of container */
    object-fit: cover;
}

.exp2Bot{
    width: 410px; /* width of container */
    height: 217px; /* height of container */
    object-fit: cover;
}

.exp1Bot{
    width: 550px; /* width of container */
    height: 217px; /* height of container */
    object-fit: cover;
}
