body {
    font-family: NotoSansRegular;
    background-color: #8A735CCF;
}

/*----Font------*/

/* @font-face {
    font-family: NotoSansRegular;
    src: url(../font/NotoSans-Regular.ttf);
    font-weight: regular;
}

@font-face {
    font-family: NotoSansBold;
    src: url(../font/NotoSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: NotoSansItalic;
    src: url(../font/NotoSans-Italic.ttf);
    font-weight: italic;
}

@font-face {
    font-family: NotoSansBoldItalic;
    src: url(../font/NotoSans-BoldItalic.ttf);
    font-weight: boldIitalic;
}
@font-face {
    font-family: DancingRegular;
    src: url(../font/DancingScript-Regular.ttf);
    font-weight: regular;
}
@font-face {
    font-family: DancingSemiBold;
    src: url(../font/DancingScript-SemiBold.ttf);
   
}
@font-face {
    font-family: DancingBold;
    src: url(../font/DancingScript-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: DancingMedium;
    src: url(../font/DancingScript-Medium.ttf);
    
} */

/*------------------Top--------------------*/

.topRow {
    background-color: #8A735CCF;
    padding: 1%;
}

.phoneIcon {
    color: rgba(255, 255, 255, 0.836);
    padding-left: 4%;
}

.phoneText {
    color: rgba(255, 255, 255, 0.836);
    font-size: 14px;
    display: inline;
    padding: 0.4%;
}

.locationIcon {
    color: rgba(255, 255, 255, 0.836);
    padding: 0.3%;
}

.mapText {
    color: rgba(255, 255, 255, 0.836);
    display: inline;
}

.topText {
    display: inline;
    padding-left: 20%;
    color: rgba(255, 255, 255, 0.822);
    font-weight: bold;
    font-size: 15px;
}

.yelpImg {
    color: rgba(255, 255, 255, 0.836);
    padding-left: 20%;
}

.fbImg {
    color: rgba(255, 255, 255, 0.836);
    padding-left: 1%;
}

.igImg {
    color: rgba(255, 255, 255, 0.836);
    padding-left: 1%;
}

.email {
    color: rgba(255, 255, 255, 0.836);
    padding-left: 1%;
}

/*-----Middle Navigation------*/

.middleNav {
    background-color: #9e8f7f31;
    padding-left: 4%;
}

.storeLogoText {
    color: #513928;
    font-weight: bolder;
    font-family: 'Noto Sans', sans-serif;
    font-size: 37px;
}

.navbar-text {
    color: #513928;
    padding-right: 10px;
    display: inline;
    font-weight: bolder;
    font-family: 'Noto Sans', sans-serif;
}

a:link {
    text-decoration: none;
}

/* mouse over link */

a:hover {
    color: rgb(223, 166, 62);
    font-weight: bolder;
}

/*---------Image--------*/

.view {
    background-image: url(../image/HeroImage.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
}

.heartLogo {
    color: white;
    font-size: 100px;
}

.subtext-header {
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 60px;
}

.placeOrderBtn {
    color: white;
    border-color: white;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
}

.placeOrderBtn:hover {
    font-weight: bolder;
    background-color: rgb(223, 166, 62);
}






/*--------copyRight---------*/
.copyRight{
    color: #513928;
    font-family: 'Noto Sans', sans-serif;
}
