


/* #menuArea{
    background-image: url("./images/SANDWICH\ SALAD.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

} */



/*----Font------*/

/* @font-face {
    font-family: NotoSansRegular;
    src: url(../font/NotoSans-Regular.ttf);
    font-weight: regular;
}

@font-face {
    font-family: NotoSansBold;
    src: url(../font/NotoSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: NotoSansItalic;
    src: url(../font/NotoSans-Italic.ttf);
    font-weight: italic;
}

@font-face {
    font-family: NotoSansBoldItalic;
    src: url(../font/NotoSans-BoldItalic.ttf);
    font-weight: boldIitalic;
}
@font-face {
    font-family: DancingRegular;
    src: url(../font/DancingScript-Regular.ttf);
    font-weight: regular;
}
@font-face {
    font-family: DancingSemiBold;
    src: url(../font/DancingScript-SemiBold.ttf);
   
}
@font-face {
    font-family: DancingBold;
    src: url(../font/DancingScript-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: DancingMedium;
    src: url(../font/DancingScript-Medium.ttf);
    
} */

/*------------------Top--------------------*/

.topRow {
    background-color: #8A735CCF;
    padding: 1%;
    text-shadow: 2px 2px 2px black;
}

.phoneIcon {
    color: rgba(255, 255, 255, 0.836);
    padding-left: 4%;
}

.phoneText {
    color: rgba(255, 255, 255, 0.836);
    font-size: 14px;
    display: inline;
    padding: 0.4%;
    
}

.locationIcon {
    color: rgba(255, 255, 255, 0.836);
    padding: 0.3%;
}

.mapText {
    color: rgba(255, 255, 255, 0.836);
    display: inline;
}

.topText {
    display: inline;
    padding-left: 20%;
    color: rgba(255, 255, 255, 0.822);
    font-weight: bold;
    font-size: 15px;
    
}

.yelpImg {
    color: rgba(255, 255, 255, 0.836);
    padding-left: 20%;
}

.fbImg {
    color: rgba(255, 255, 255, 0.836);
    padding-left: 1%;
}

.igImg {
    color: rgba(255, 255, 255, 0.836);
    padding-left: 1%;
}

.email {
    color: rgba(255, 255, 255, 0.836);
    padding-left: 1%;
}

/*-----Middle Navigation------*/

.middleNav, .copyRight {
    background-color: #cabcae5b;
}

.storeLogoText {
    color: #513928;
    font-weight: bolder;
    font-family: 'Noto Sans', sans-serif;
    font-size: 37px;
    text-shadow: 5px 5px 5px #51392831;
}

.navbar-text {
    color: #513928;
    padding-right: 10px;
    display: inline;
    font-weight: bolder;
    font-family: 'Noto Sans', sans-serif;
    text-shadow: 5px 5px 5px #51392831;
}

a:link {
    text-decoration: none;
}

/* mouse over link */

a:hover {
    color: rgb(223, 166, 62);
    font-weight: bolder;
}

/*---------Image--------*/

.view {
    background-image: url(../image/HeroImage.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
}

.heartLogo {
    color: white;
    font-size: 100px;
  
    
}

.subtext-header {
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 60px;
    text-shadow: 4px 7px 4px black;
    animation-name: slide;
    animation-duration: 2s;
  
}
@keyframes slide{
    0%{
        transform: translateX(-1000px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.placeOrderBtn {
    color: white;
    border-color: white;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    text-shadow: 2px 5px 2px black;
    animation-name: slide;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-fill-mode: backwards;
}
.btn{
    color: white;
    font-weight: bold;
    border: 2px sold #634832;
    font-size: 25px;
}
/* .placeOrderBtn:hover {
    font-weight: bolder;
    background-color: rgb(223, 166, 62);
} */
.hvr-right{
    display: inline-block;
    vertical-align: middle;
    transition-duration: 0.05s;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(223, 166, 62);
    position: relative;
    transition-property: color;
}
.hvr-right:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(223, 167, 62, 0.5);
    transition-timing-function: ease-out;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.5s;
}
.hvr-right:hover, .hvr-right:focus, 
.hvr-right:active{
    color:white;
}
.hvr-right:hover:before, .hvr-right:focus:before, 
.hvr-right:active:before{
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transform: scaleX(1);
}

/*--------copyRight---------*/

.copyRight {
    color: #513928;
    font-family: 'Noto Sans', sans-serif;
    text-shadow: 5px 5px 5px #51392831;
}


#menuArea::after {
    content:'';
    background: url("../images/SANDWICH\ SALAD.jpg") no-repeat center center;
    position: absolute ;
    top:0px;
    left: 0px;
    
    width:100%;
    height:100%;

    z-index:-1;
    opacity:50%;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    overflow: hidden;
}


.list-group-item {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.card {
    border: none;
}

h2 {
    color: white;
    font-size: 40px;
    text-shadow: 2px 5px 1px black;
}

h3 {
    color: white;
    text-shadow: 2px 5px 1px black;
    /* font-size: 22px;  use media for 425px*/
}

p {
    color: white;
    text-shadow: 2px 3px 2px black;
}

/* 425px change font position for the menus */

.userCom{
    font-size: 30px;
    color: #513928;
    text-shadow: none;
}

.comPlaced{
    color: #513928;
    text-shadow: none;
    font-size: 20px;
}

#leftSide {
    background-color: rgba(255, 255, 255, 0);
}

#rightSide {
    background-color: rgba(255, 255, 255, 0);
}

.learnText{
    color: #513928;
    text-shadow: none;
    font-size: 25px;
}

.goldColor {
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    color: #996E0B;
    text-shadow: none;
}

@media only screen and (max-width: 6000px) {
    #secCont {
      padding: 0px 150px 0px 150px;
    }
    .carousel-inner{
        padding: 0px 100px 0px 100px;
    }
}

@media only screen and (max-width: 545px) {
    #secCont {
      padding: 0px 0px 0px 0px;
    }
    /* .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    } */
}

@media only screen and (max-width: 575px){
    .carousel-inner{
        padding: 0px 0px 0px 0px;
    }
}

@media only screen and (max-width: 991px){
    .putCenter{
        display: flex;
        justify-content: center;
    }
}

.brownColor{
    color: #513928;
    text-shadow: none;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
}

.bgWhite{
    background-color: white;
}

#coffeeBean{
    transform: scaleX(-1) rotate(180deg);
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}

.aboutImgs{
    width: 300px; /* width of container */
    height: 270px; /* height of container */
    object-fit: cover;
}

.modalImg{
    width: 600px; /* width of container */
    height: 600px; /* height of container */
    object-fit: cover;
}

.modalSide{
    width: 700px; /* width of container */
    height: 350px; /* height of container */
    
}

.expTop{
    width: 400px; /* width of container */
    height: 350px; /* height of container */
    object-fit: cover;
}

.expMid{
    width: 270px; /* width of container */
    height: 350px; /* height of container */
    object-fit: cover;
}

.exp2Bot{
    width: 410px; /* width of container */
    height: 217px; /* height of container */
    object-fit: cover;
}

.exp1Bot{
    width: 550px; /* width of container */
    height: 217px; /* height of container */
    object-fit: cover;
}

body {
    font-family: NotoSansRegular;
    background-color: #8A735CCF;   
}


