body {
    /* background-color: #8A735CCF; */
    background-color: black;
}

#menuArea {
    /* background-image: url("SANDWICH SALAD.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 60%; */
    /* Going to use this to test the words first */
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}

.list-group-item {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.card {
    border: none;
}

h2 {
    color: white;
    font-size: 40px;
    text-shadow: 2px 5px 1px black;
}

h3 {
    color: white;
    text-shadow: 2px 5px 1px black;
    /* font-size: 22px;  use media for 425px*/
}

p {
    color: white;
    text-shadow: 2px 3px 2px black;
}

.userCom{
    font-size: 30px;
    color: #513928;
    text-shadow: none;
}

.comPlaced{
    color: #513928;
    text-shadow: none;
    font-size: 20px;
}

#leftSide {
    background-color: rgba(255, 255, 255, 0);
}

#rightSide {
    background-color: rgba(255, 255, 255, 0);
}

.learnText{
    color: #513928;
    text-shadow: none;
    font-size: 25px;
}

.goldColor {
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    color: #996E0B;
    text-shadow: none;
}

@media only screen and (max-width: 6000px) {
    #secCont {
      padding: 0px 150px 0px 150px;
    }
}

@media only screen and (max-width: 545px) {
    #secCont {
      padding: 0px 0px 0px 0px;
    }
}

.brownColor{
    color: #513928;
    text-shadow: none;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
}

#coffeeBean{
    transform: scaleX(-1) rotate(180deg);
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}

.aboutImgs{
    width: 300px; /* width of container */
    height: 270px; /* height of container */
    object-fit: cover;
}

.modalImg{
    width: 600px; /* width of container */
    height: 600px; /* height of container */
    object-fit: cover;
}


.expTop{
    width: 400px; /* width of container */
    height: 350px; /* height of container */
    object-fit: cover;
}

.expMid{
    width: 270px; /* width of container */
    height: 350px; /* height of container */
    object-fit: cover;
}

.exp2Bot{
    width: 410px; /* width of container */
    height: 217px; /* height of container */
    object-fit: cover;
}

.exp1Bot{
    width: 550px; /* width of container */
    height: 217px; /* height of container */
    object-fit: cover;
}
